body {
       height: 100%;
       padding: 0;
       background-color: rgba(31, 235, 235, 0.774);
}
h1 {
       color: #D10000;
       text-align: center;
       font-size: 2cm;
}
 #station{ 
       color: gold;
       padding-left: 1.5cm;
       padding-right: 1.5cm;
} 
.dd{
       padding: 0.4cm;
       background-color: darkblue;
}
.black{
       color: white;
       background-color: black;
       min-height: 100%;
       position: relative;
       text-align: center;
}
.footerpage{
       padding-bottom: 490px;
       width: 100%;
       height: 84px;
}
.c{
       font-size: 32px;
}
nav ul li{
       display: inline-block;
}
a.active,a:hover{
       transition: .5s;
       background: rgb(180, 138, 138);
       color: gold;
       background-color: black;
       padding:  0.6cm 0.6cm 0.6cm 0.6cm;
       padding-top: 0.3cm;
       padding-bottom: 0.3cm;
       padding-left: 2.9cm;
       padding-right: 2.7cm;
       border-radius:  0.3cm 0.3cm 0.3cm 0.3cm;
       text-decoration: none;
}
@media screen and (max-width: 694px) {
       #station{
              padding-left: 2.9cm;
              padding-right: 2.7cm;
              padding-top: 0.1cm;
              padding-bottom: 0.1cm;
              text-decoration: none;

       }

       
}
@media screen and (max-width: 663px){
       #station{
              padding-left: 5.9cm;
              padding-right: 7.7cm;
              padding-top: 0.1cm;
              padding-bottom: 0.1cm;
              text-decoration: none;
       }
       body{
              text-align: center;
              justify-content: center;
       }

       
}
@media screen and (max-width: 375px){
       #station{
              padding-left: 3.9px;
              padding-right: 5.7px;
       }
       .fas fa-envelope-square fa-4x.active,a:hover{
              padding-left: 3.9px;
              padding-right: 5.7px;
       }
       .fab fa-skype fa-4x.active,a:hover{
              padding-left: 3.9px;
              padding-right: 5.7px;

       }
       .c{
       font-size: 13px;
       }
       #space{
       padding-top: 8px;
       padding-bottom: 8px;
       }
       .footerpage{
       padding-bottom: 620px;
       }
}
